<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:tailwind:config">
		<parameter-group name="controllerProperties">
			<label>Smart Garage Controller Properties</label>
		</parameter-group>

		<parameter-group name="connectionSettings">
			<label>General Connection Settings</label>
		</parameter-group>

		<!-- Include if there is a need to refresh states periodically
			<parameter name="refreshInterval" type="integer" min="0" groupName="controllerProperties">
			<label>Refresh Interval</label>
			<description>The refresh interval in seconds for polling the controller settings (0=disabled) to update item details.</description>
			<default>0</default>
			<advanced>true</advanced>
			</parameter>
		-->
		<parameter name="doorCount" type="integer" required="true" groupName="controllerProperties">
			<label>Number of Doors Controlled</label>
			<description>Number of doors that are connected to the controller. Check Thing Properties to see maximum
				number of
				doors for the garage controller.</description>
			<default>1</default>
		</parameter>

		<parameter name="authToken" type="text" required="true" groupName="connectionSettings">
			<label>Authentication Token</label>
			<description>Authentication token (Local Control Key) obtained from the Tailwind mobile app.</description>
			<required></required>
		</parameter>
		<!-- Not needed but keeping for now in case something changes
			<parameter name="ipAddress" type="text" required="true" groupName="connectionSettings">
			<context>network-address</context>
			<label>IP Address</label>
			<description>IPV4 address of the NAD A/V receiver</description>
			</parameter>

			<parameter name="telnetPort" type="integer" required="true" groupName="telnetSettings">
			<default>23</default>
			<label>Port</label>
			<description>Telnet port used for AVR communication. Normally shouldn't be changed.</description>
			</parameter>
		-->
	</config-description>

</config-description:config-descriptions>
